#!/bin/bash

source_local() {
  file=./.envrc.local
  if [[ -f "$file" ]]; then
    source_env $file
  fi
  watch_file $file
}

source_up || true
source_local

export NODE_ENV=development

# export ENVIRONMENT=development

# export AWS_ACCESS_KEY_ID=AKIAILUE4OE6UBNAERUA
# export AWS_SECRET_ACCESS_KEY=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

# export AWS_SQS_IOS_QUEUE_URL="https://sqs.us-west-2.amazonaws.com/274251141632/turtle_jobs_staging_ios_in.fifo"
# export AWS_SQS_IOS_PRIORITY_QUEUE_URL="https://sqs.us-west-2.amazonaws.com/274251141632/turtle_jobs_staging_ios_in.fifo"
# export AWS_SQS_ANDROID_QUEUE_URL="https://sqs.us-west-2.amazonaws.com/274251141632/turtle_jobs_staging_android_in.fifo"
# export AWS_SQS_ANDROID_PRIORITY_QUEUE_URL="https://sqs.us-west-2.amazonaws.com/274251141632/turtle_jobs_staging_android_in.fifo"
# export AWS_SQS_OUT_QUEUE_URL="https://sqs.us-west-2.amazonaws.com/274251141632/turtle_jobs_staging_out.fifo"
# export AWS_SQS_REGION="aws.west2"
# export AWS_S3_BUCKET="exp-shell-app-assets"
# export AWS_S3_REGION="us-west-1"
# export AWS_CLOUDWATCH_REGION="us-west-1"
# export API_PROTOCOL="http"
# export API_HOSTNAME="localhost"
# export API_PORT="3000"
# export REDIS_URL="noop"
# export REDIS_CONFIG_URL="noop"

export EXPO_TURTLE_TOOLS_DIR="$(pwd)/tools"

PATH_add $EXPO_TURTLE_TOOLS_DIR/bin
